<!DOCTYPE html>
<html>
<head>
    <title>index</title>
    <meta charset="utf-8" />
</head>
<body>
    @foreach (var b in ViewBag.Materials)
    {
        <p>@b.Title</p>
    }
</body>
</html>

